{% extends "EmpruntBundle::layout.html.twig" %}
{% block title %} {{ parent() }} | Accueil {% endblock %}
{% block centercontent %}
<div class="pageheader">
    <h1 class="pagetitle">Contrats</h1>
    <span class="pagedesc">This is a sample description of a page</span>
</div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper">

</div>
{% endblock %}
