{% extends "EmpruntBundle::layout.html.twig" %}
{% block title %} {{ parent() }} | Accueil {% endblock %}
{% block centercontent %}
<div class="pageheader">
{#    <h1 class="pagetitle">Tableau de bord</h1>
    <span class="pagedesc">This is a sample description of a page</span>#}
</div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper">
    <center>
        <img src="{{ asset('bundles/emprunt/upload/gallery/3.jpg') }}" />
    </center>
    
</div><!--contentwrapper-->
{% endblock %}